.btn {
  font-family: $button-font-family;
  width: fit-content;
  font-weight: $font-weight-semibold;
}

.btn:hover {
  transform: scale(1.02);
  box-shadow: $box-shadow-dark;
  transition: all ease 300ms;
}

.btn-outline-primary:hover {
  background: $light-gray;
  color: $primary;
  box-shadow: none;
}

.btn-blank:hover {
  box-shadow: none;
}