.btn {
  font-family: $button-font-family;
  width: fit-content;
  font-weight: $font-weight-semibold;
  transition: all ease 200ms;
}

.btn-primary {
  border: none;
  &:hover {
    background-color: $primary-hover;
  }
}

.btn-outline-primary:hover {
  border-color: $secondary;
  color: $secondary;
  background-color: $light-gray;
}

.btn-blank:disabled {
  border: none;
}