input:focus {
  border-width: 1px;
}

.form-check-label {
  font-size: 0.75em;
  font-family: $regular-font-family;
}

input {
  box-shadow: $box-shadow-primary;
}

.form-floating label {
  font-family: $display-font-family;
}

.form-check-input {
  border: 1px solid $border-clr;
}

.form-search {
  box-shadow: none;
}

.search-group {
  max-width: 600px;
}

.update-avatar-container,
#updateAvatarBtn {
  max-width: 500px;
}