.nav-link {
  font-family: $regular-font-family;
  color: $light;
  transition: 200ms ease;
}

.nav-link:hover {
  font-weight: $font-weight-bold;
}

header {
  border-bottom: 2px solid $light-gray;
}