$primary: #623CEA;
$primary-hover: #714fec;
$secondary: #4062BB;
$light: #ffffff;
$light-gray: #f0f0f8;
$dark: #2C2C2C;
$border-clr: rgba(80, 80, 80, 0.85);

$display-font-family: 'Poppins', sans-serif;
$display-font-weight: 900;
$display-line-height: 1;

$regular-font-family: 'Inter', sans-serif;
$button-font-family: 'Montserrat', sans-serif;

$box-shadow-primary: 0px 2px 2px 0px $primary;
$box-shadow-dark: 0px 2px 2px 0px $dark;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 10,
);

$input-font-family: 'Poppins', sans-serif;
$input-bg: $light;
$input-color: $dark;
$input-border-color: $border-clr;
$input-focus-box-shadow: none;
$input-focus-border-color: $primary;

$card-bg: $light;
$card-border-color: $light-gray;